<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink="/account">
                <i class="material-icons">
                    storefront
                </i>
                Avaliable Balance
            </a>
            <a mat-list-item routerLink="/withdrawal">
                <i class="material-icons">
                    storefront
                </i>
                Withdrawal
            </a>
            <a mat-list-item routerLink="/deposit">
                <i class="material-icons">
                    storefront
                </i>
                Deposit
            </a>
            <a mat-list-item routerLink="/pay">
                <i class="material-icons">
                    storefront
                </i>
                Pay
            </a>
            <a mat-list-item routerLink="/bankstatement">
                <i class="material-icons">
                    storefront
                </i>
                Bank Statement
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>